<div id="theGrid" class="content">
    <div id="contentPlaceHolder" style="height: 100%; width: 60%; float: left;">
        <div id="c1" class="menuDescription" style="left: 10%; top: 20%;">
            <b>About</b><br />
            Information about me and a current CV. I've also made a playable CV so give me a click and give it a go. 
            <br />
            <b>Content:</b> CV game, CV, Social, Email and telephone contact details.
        </div>
        <div id="c2" class="menuDescription" style="left: 15%; top: 20%;">
            <b>Blog</b><br />
            Click to read my Blog powered by BlogEngine.Net
        </div>
        <div id="c3" class="menuDescription" style="left: 80%; top: 33%;">
            <b>Dan.Dev</b><br />
            Click to see what I'm up to at the moment.<br />
            <b>Content:</b> HTML5 game Called Munch, 1st Attempt at a Parallax site.
        </div>
        <div id="c4" class="menuDescription" style="left: 50%; top: 50%;">
            <b>Projects</b><br />
            Click for links to finished personal projects.<br />
            <b>Content:</b> RouterCutter.co.uk.
        </div>
    </div>
    <div id="11" class="fancyBlock">&nbsp;</div>
    <div id="12" class="fancyBlock">&nbsp;</div>
    <div id="13" class="fancyBlock">&nbsp;</div>
    <div id="14" class="fancyBlock">&nbsp;</div>
    <div id="21" class="fancyBlock">&nbsp;</div>
    <div id="22" class="fancyBlock">&nbsp;</div>
    <div id="23" class="fancyBlock">&nbsp;</div>
    <div id="24" class="fancyBlock">&nbsp;</div>
    <div id="31" class="fancyBlock">&nbsp;</div>
    <div id="32" class="fancyBlock">&nbsp;</div>
    <div id="33" class="fancyBlock">&nbsp;</div>
    <div id="34" class="fancyBlock">&nbsp;</div>
    <div id="41" class="fancyBlock">&nbsp;</div>
    <div id="42" class="fancyBlock">&nbsp;</div>
    <div id="43" class="fancyBlock">&nbsp;</div>
    <div id="44" class="fancyBlock">&nbsp;</div>
    <div id="51" class="fancyBlock">&nbsp;</div>
    <div id="52" class="fancyBlock">&nbsp;</div>
    <div id="53" class="fancyBlock">&nbsp;</div>
    <div id="54" class="fancyBlock">&nbsp;</div>
    <div id="61" class="fancyBlock">&nbsp;</div>
    <div id="62" class="fancyBlock">&nbsp;</div>
    <div id="63" class="fancyBlock">&nbsp;</div>
    <div id="64" class="fancyBlock">&nbsp;</div>
    <div id="71" class="fancyBlock">&nbsp;</div>
    <div id="72" class="fancyBlock">&nbsp;</div>
    <div id="73" class="fancyBlock">&nbsp;</div>
    <div id="74" class="fancyBlock">&nbsp;</div>
    <div id="81" class="fancyBlock">&nbsp;</div>
    <div id="82" class="fancyBlock">&nbsp;</div>
    <div id="83" class="fancyBlock">&nbsp;</div>
    <div id="84" class="fancyBlock">&nbsp;</div>
    <div id="91" class="fancyBlock">&nbsp;</div>
    <div id="92" class="fancyBlock">&nbsp;</div>
    <div id="93" class="fancyBlock">&nbsp;</div>
    <div id="94" class="fancyBlock">&nbsp;</div>
</div>
