@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Collision</title>
</head>
<body>
    <script src="~/Content/JS/quintus-all.min.js"></script>
    <script src="~/Content/JS/Collision/Collision.js"></script>
    <div>
        
    </div>
</body>
</html>
