@{
    ViewBag.Title = "Dan.Dev";
}
<script src="~/Content/JS/danDev.js"></script>
<h2>Dan.Dev</h2>
<script>
    var pageInt = 3;
    var menuItems = {
        "Munch Game": "'@Url.Action("Index", "Munch")'",
        "Up-to-date CV": "'http://www.danpickford.com/Content/CV/Daniel_Pickford_Curriculum_Vitae.docx'"
    };
    
    
</script>
