@{
    ViewBag.Title = "Dan.Dev";
}
<script src="~/Content/JS/Site/danDev.js"></script>
<h2>Dan.Dev</h2>
<script>
    var pageInt = 3;
    var menuItems = {
        "my GitHub": "'https://github.com/danpickford'",
        "Parallax Project": "'@Url.Action("Index", "Parallax")'"
    };
</script>
<div style="position: absolute; top: 15%; left: 15%; width: 510px; opacity: 0.8; font-size: medium; padding: 10px;">
    <div style="background-color: #808080;">
        <p style="opacity: 1 !important">
            I've been working on my wedding site for months and it's finally published! Its working well all our guests are loving it, check it out at www.pookandbeans.co.uk. I've decided to make the repo private as I think I may be onto a winner here :)
        </p>
    </div>
    <div style="background-color: #778899;">
        <p style="opacity: 1 !important">Have a strong desire to head back to the Android development world - I never did publish that QR code generator, so handy for Xbox one codes "Xbox use code!".</p>
    </div>
    
</div>  