@{
    ViewBag.Title = "Dan.Dev";
}
<script src="~/Content/JS/Site/Site/danDev.js"></script>
<h2>Dan.Dev</h2>
<script>
    var pageInt = 3;
    var menuItems = {
        "Munch Game": "'@Url.Action("Index", "Munch")'",
        "Parallax Project": "'@Url.Action("Index", "Parallax")'"
    };
    
    
</script>
