@{
    ViewBag.Title = "Project";
}
<script src="~/Content/JS/Site/projects.js"></script>
<h2>Project</h2>
<script>
    var pageInt = 4;
    var menuItems = { "Munch Game": "'@Url.Action("Index", "Munch")'", "My smart wedding site" : "'http://www.pookandbeans.co.uk'" };
</script>