@{
    Layout = "muchLayout.cshtml";
    ViewBag.Title = "Munch Game";
}
<script src="~/Content/JS/jquery-1.9.0.min.js"></script>
<script src="~/Content/JS/quintus-all.min.js"></script>

<div id="headpadding" style="height: 10%;">
    <span id="state" style="color: #fff;">Loading...</span>
</div>
<canvas id="munchBox" width="850" height="600" style="background-color: #fff;"></canvas>
<script>

    // Now set up your game (most games will load a separate .js file)
    var Q = Quintus()                          // Create a new engine instance
            .include("Sprites, Scenes, Input, 2D, Touch, UI") // Load any needed modules
            .setup("munchBox", {
                width: 850,
                height: 600
            })
            .controls()                        // Add in default controls (keyboard, buttons)
            .touch();                          // Add in touch support (for the UI)

    Q.Sprite.extend("Munch", {
        init: function (p) {
            this._super({
                asset: "../../Content/Images/Munch/Munch.png",
                x: 200,
                y: 535,
                scale: 0.2,
                z: 100
            });
        },

        step: function (dt) {
            this.p.x = this.p.x - 1;
        }
    });

    Q.load(["../../Content/Images/Munch/Munch.png", "../../Content/Images/Munch/Munch_Background.jpg",
            "../../Content/Images/Munch/Doughnut.png", "../../Content/Images/Munch/Cherry.png",
            "../../Content/Images/Munch/Chicken_Leg.png", "../../Content/Images/Munch/Munch_Eat.png",
            "../../Content/Images/Munch/Munch_Sad.png", "../../Content/Images/Munch/Pizza.png" ], function () {
                $('#state').html("MUUUNNNCCHHH!!");
                var munch = new Q.Munch();
                Q.gameLoop(function (dt) {
                    munch.update(dt);
                    Q.clear();
                    munch.render(Q.ctx);
                });
            });



</script>
