@{
    Layout = "muchLayout.cshtml";
    ViewBag.Title = "Munch Game";
}
<script src="~/Content/JS/jquery-1.9.0.min.js"></script>
<script src="~/Content/JS/Quintus/quintus.js"></script>
<script src="~/Content/JS/Quintus/quintus_sprites.js"></script>
<script src="~/Content/JS/Quintus/quintus_scenes.js"></script>
<script src="~/Content/JS/Quintus/quintus_input.js"></script>
<script src="~/Content/JS/Quintus/quintus_2d.js"></script>
<script src="~/Content/JS/Quintus/quintus_touch.js"></script>
<script src="~/Content/JS/Quintus/quintus_ui.js"></script>
<div id="headpadding" style="height: 10%;">
    <span id="state" style="color: #fff;">Loading...</span>
</div>
<canvas id="munchBox" width="800" height="561"></canvas>
<script src="~/Content/JS/Munch/Setup.js"></script>
<script src="~/Content/JS/Munch/MouseDetect.js"></script>
<script src="~/Content/JS/Munch/Munch.js"></script>
<script src="~/Content/JS/Munch/Food.js"></script>
<script src="~/Content/JS/Munch/Floor.js"></script>
<script src="~/Content/JS/Munch/Texts.js"></script>
<script src="~/Content/JS/Munch/Engine.js"></script>
<div id="footerpadding" style="height: 10%;">
    <span id="footertexts" style="color: #fff;">Programming by Daniel Pickford, Graphic Design by Amanda Breach</span>
</div>