@{
    Layout = "muchLayout.cshtml";
    ViewBag.Title = "Munch Game";
}
<div id="munchBox" class="munchBox" onclick="clicker('@Url.Action("GameStart")')">
    <div style="height: 90%;">&nbsp;</div>
    <span style="font-weight: bold; color: #000; font-size: 18px;">The aim of the game is feed Munch. Luckily it's raining food just hit Click or swipe up to eat it. Munch will follow your mouse or finger.</span>
</div>