body, html {
    width: auto;
    height: 100%;
    font-family: Arial;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}
div.munchBox {
    position: absolute;
    height: 561px;
    width: 800px;
    margin: -280.5px 0 0 -400px;
    top: 50%;
    left: 50%;
    background-image: url('../Images/Munch/Splash_screen.jpg');
    background-size: contain;
}

/*canvas.munchBox {
    position: absolute;
    height: 600px;
    width: 850px;
    margin: -300px 0 0 -425px;
    top: 50%;
    left: 50%;
}*/

#munchBox:hover {
    cursor: hand; cursor: pointer;
}
