html,body{
    font-family: Arial;
    width:100%;
    height:100%;
}
.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper {
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}
.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}
.button{
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    bottom:0px;
    left:50%;
    background-color:#333333;
    background-image:url(../Images/Parallax/downarrow.png);*
    background-repeat:no-repeat;
}
.button:hover{
    background-color:#494949;
    cursor:pointer;
}

#footer
{
    background-color: #494949;
    position: absolute;
    bottom:0;
    left:0;
    height: 15%;
    width: 75%;
    color: #fff;
    padding-left: 25%;
    padding-top: 5%;
}
#footerWrapper
{
    width: 75%;
}

.footerlink
{
    text-decoration: none;
    color: #c8c8c8;
}
.footerlink:hover{
    background-color:#447003;
    cursor:pointer;
}
/******************************
 SLIDE 1
*******************************/
#slide1{
    background-color:#5c9900;
}
/******************************
 SLIDE 2
*******************************/
#slide2{
    background-color: #ccd82f;
}
/******************************
 SLIDE 3
*******************************/
#slide3{
    background-color:#ff6a00;
}
/******************************
 SLIDE 4
*******************************/
#slide4{
    background-color:#b10000;
}