@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
    <link href="~/Content/Styles/parallax.css" rel="stylesheet" />
    <title>Dan in Parallax</title>
    <script src="~/Content/JS/jquery-1.9.0.min.js"></script>
    <script src="~/Content/JS/Parallax/jquery.stellar.min.js"></script>
    <script src="~/Content/JS/Parallax/waypoints.min.js"></script>
    <script src="~/Content/JS/Parallax/jquery.easing.min.js"></script>
    <script src="~/Content/JS/Parallax/Parallax.js"></script>
</head>
<body>
    <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
        &nbsp;
            <a class="button" data-slide="2" title=""></a>
    </div>
    <!--End Slide 1-->
    <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="2">
        &nbsp;
            <a class="button" data-slide="3" title=""></a>
    </div>
    <!--End Slide 2-->
    <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.1">
        &nbsp;
            <a class="button" data-slide="4" title=""></a>
    </div>
    <!--End Slide 3-->
    <div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="1.5">
        &nbsp;
        <div id="footer">
            <div id="footerWrapper">
                Developed with <a class="footerlink" href="http://jquery.com/">JQuery</a>, <a class="footerlink" href="http://markdalgleish.com/projects/stellar.js/">Stellar.js</a>, <a class="footerlink" href="http://imakewebthings.com/jquery-waypoints/">Waypoints</a> and <a class="footerlink" href="http://gsgd.co.uk/sandbox/jquery/easing/">Easing</a>
                <br />
                <a class="footerlink" href="~/Home">danpickford.com</a>
            </div>
        </div>
    </div>
    <!--End Slide 4-->
</body>
</html>
